<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Eventus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>743BD0781E3BC9B9009CAEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74670DFF1E594EEC00EC0A3F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749A7AF81E57636800548133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>749A7B0F1E5785A500548133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
